@import url("style.css");

/*Media Query - Monitor---------------------------------------------------------*/
@media screen and (min-width: 481px) {
    body {
        font-family: Roboto;
    }

    .legalinfo {
        margin: 0 auto;
        width: 50vw;
        padding: 1vw 3vw 1vw 1.5vw;
        border-radius: 60px;
        margin-bottom: 1vw;
        box-shadow: 0 6px 6px rgba(255, 255, 255, 0.05), 0 6px 6px rgba(255, 255, 255, 0.05);
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
}

/*Media Query - Phone---------------------------------------------------------*/
@media screen and (max-width: 480px) {
    body {
        font-family: Roboto;
    }

    .legalinfo {
        margin: 30vw auto 0 auto;
        width: 70vw;
        height:  70vh;
        padding: 3vw 5vw 3vw 5vw;
        border-radius: 4vh;
        margin-bottom: 1vw;
        box-shadow: 0 6px 6px rgba(255, 255, 255, 0.05), 0 6px 6px rgba(255, 255, 255, 0.05);
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
        font-size:  2.09vw;
    }
}